#left {
  min-height: 100px;
}

#right {
  min-height: 100px;
}

.builder-col {
  padding-top:20px;
  padding-bottom:20px;
}

.invisibutton {
    background:none;
    border:none;
    box-shadow:none;
}
